body{
    padding: 50px;
    display: flex;
    align-items: center;
    background-color: antiquewhite;
}

#container{
    margin: 20%;
    padding: 10%;
    justify-content: center;
    border: 5px;
    border-color: aqua;

    
}

#output{
    justify-content: center;

}

#rock{
    justify-content: center;

}
#paper{
    justify-content: center;

}
#scissor{
    justify-content: center;

}